* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
 footer, header, nav {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
	padding: 0px 5px 0px 5px;
}

input[type="text"],
input[type="number"],
select {
	width: 100px;
}

.wrapper {
	width: 100%;
	min-width: 500px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	background: #FFF;
}

.header__top {
	display: inline-block;
	width: 100%;
}

.header__top__logo {
	float: left;
}
.header__top__contacts {
	float: right;
	right: 0;
	margin-top: 20px;
	color: #EB5017;
	font-size: 14pt;
	line-height: 1.2;
}

/**
 * Navigation
 */
.nav__list {
    margin: 0;
    padding: 0;
}
.nav__list__item a {
    padding: 1em 2.5em;
    transition: all .25s ease-in-out;
}

.nav__list__item {
    border-style: solid;
    border-width: 0 0 1px;
}
.nav__list__item,
.nav__list__item a {
    display: block;
}
/**
 * @media
 */
@media screen and (min-width: 1024px) {
    .nav__list > .nav__list__item {
        border-width: 0 1px 0 0;
    }
    .nav__list > .nav__list__item,
    .nav__list > .nav__list__item a,
	.nav__list > .nav__list__item--footer,
	.nav__list > .nav__list__item--footer a {
		float:left;
    }
}
/**
 * Внешний вид
 */
.nav {
    background-color: #231f20;
}
.nav .nav__list__item {
    border-color: #eb5017;
}
.nav .nav__list__item--active {
    background-color: #eb5017;
}

.nav__list__item a {
    color: #FFF;
    text-decoration: none;
}
.nav__list__item a:hover, .nav__list__item a:active, .nav__list__item a:focus {
    background-color: #EB5017;
}

.nav .nav__list__item--footer {
    display: block;
}

.nav__list__item--footer a {
    padding: 1em 2.5em;
	color: #fff;
	text-decoration: underline;
}

.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}
.clearfix {
*zoom: 1;
}



/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 100px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 25px;
}

/* Хлебные крошки */
.breadcrumbs {
	margin-bottom: 30px;
	padding: 0;
	list-style: none;
}

.breadcrumbs li {
	float: left;
}

.breadcrumbs a {
	color: #000;
	text-decoration: underline;
}

.breadcrumbs a:hover {
	color: #EB5017;
}

.breadcrumbs li:not(:last-child):after {
	content: ' - ';
	display: inline-block;
	width: 5px;
	height: 5px;
	margin: 0px 5px
}


/* calc form
-----------------------------------------------------------------------------*/
.calc__form {
	display: table;
	width: 80%;
	background-color: #f2f2f2;
}
.calc__form__body {
	display: table-row-group;
}
.calc__form__body--row {
	display: table-row;
}
.calc__form__body--cell {
	display: table-cell;
	padding: 16px;
}

.calc__form__body--cell-label {
	width: 20%;
	text-align: right;
}

.calc__form__body--cell-slider {
	width: 60%;
}

.calc--header {
	color: #EB5017;
	font-size: 16pt;
	font-weight: 400;
}

.calc--button {
 text-decoration:none; 
 text-align:center; 
 padding:9px 25px; 
 border:solid 1px #c4c4c4; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:13px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#575757; 
 background-color:#a8f7b5; 
 background-image: -moz-linear-gradient(top, #a8f7b5 0%, #0ffc17 100%); 
 background-image: -webkit-linear-gradient(top, #a8f7b5 0%, #0ffc17 100%); 
 background-image: -o-linear-gradient(top, #a8f7b5 0%, #0ffc17 100%); 
 background-image: -ms-linear-gradient(top, #a8f7b5 0% ,#0ffc17 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0ffc17', endColorstr='#0ffc17',GradientType=0 ); 
 background-image: linear-gradient(top, #a8f7b5 0% ,#0ffc17 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
  }

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -42px auto 0;
	min-width: 500px;
	height: 42px;
	position: relative;
}


.ui-widget-header {
	background: #8db22e !important;
}

.ui-widget.ui-widget-content {
	background-color: #000;
}

.ui-slider-horizontal 
.ui-slider-range {
	height: 60% !important;
	margin-top: 2px;
}

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default, 
.ui-button, 
html .ui-button.ui-state-disabled:hover, 
html .ui-button.ui-state-disabled:active {
	border-radius: 10px;
}